import %workspace%/tools/bazel_/preset.bazelrc

# General

## Rules
# Java
common --noincompatible_no_rule_outputs_param

## Server

startup --host_jvm_args=-Xms512m
startup --host_jvm_args=-Xmx1024m

## Java
common --noincompatible_no_rule_outputs_param

# Rule Sets

## File
import %workspace%/tools/file/files.bazelrc

# User settings
# deprecated
try-import %workspace%/user.bazelrc
try-import %workspace%/.bazelrc.user
