.bazel-npm-cache.json
.cdktf
.DS_Store
.env
.idea
.profiles
.secrets.sh
.vscode/*
.yarn
dist
lib-dist
node_modules
target

/bazel-*
/data
/user.bazelrc

!.vscode/extensions.json
!.vscode/settings.example.json
!.vscode/tasks.json

/.claude

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
